@import "../../../styles/variables.scss";

.block-bet {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: $color-dark;
  border: 1px solid $color-border;
  border-radius: 20px;
  padding: 20px 24px;
  box-sizing: border-box;

  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }

  &__title-side {
    &_green {
      color: $color-green;
    }

    &_red {
      color: $color-red;
    }
  }

  &__close {
    position: absolute;
    right: 12px;
    top: 12px;
  }

  &__close-btn {
    cursor: pointer;

    &:hover {
      path {
        fill: #e0dfdf;
      }
    }
  }

  &__input {
    border: 1px solid #434a60;
    background-color: $color-dark-light;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    margin-top: 16px;
    box-sizing: border-box;
    color: $color-white;
  }
}
