@import "../../shared/styles/variables.scss";

.points-system {
  &__block {
    border-bottom: 1px solid $color-border;
    padding: 32px 0;

    @include mobile {
      padding: 20px 0;
    }

    &:first-child {
      padding-top: 0;
    }
  }

  &__title {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

    @include mobile {
      font-size: 16px;
      line-height: 22px;
      display: flex;
      align-items: center;

      svg {
        margin-right: 6px;
      }
    }
  }

  &__description {
    @include mobile {
      font-size: 13px;
      line-height: 18px;
    }
  }

  &__hint {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: $color-gray;
  }

  &__table {
    margin-top: 16px;
    margin-bottom: 12px;

    @include mobile {
      margin-top: 16px;
      margin-bottom: 8px;
    }
  }

  &__ref {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  &__friends {
    background-color: $color-dark-light;
    border: 1px solid $color-border;
    border-radius: 8px;
    padding: 8px 12px;
    max-width: 120px;
    width: 120px;
    margin-right: 8px;

    @include mobile {
      border-radius: 6px;
    }
  }

  &__friends-title {
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: $color-gray;

    @include mobile {
      font-size: 11px;
      line-height: 13px;
    }
  }

  &__friends-number {
    display: flex;
    align-items: center;

    @include mobile {
      svg {
        width: 12px;
      }
    }
  }

  &__friends-count {
    margin-left: 4px;
    font-weight: 600;
    font-size: 17px;

    @include mobile {
      font-size: 15px;
    }
  }

  &__earnings {
    background-color: $color-dark-light;
    border: 1px solid $color-border;
    border-radius: 8px;
    width: 100%;
    padding: 8px 12px;

    @include mobile {
      border-radius: 6px;
    }
  }

  &__earnings-content {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
  }

  &__earnings-block {
    display: flex;
    align-items: baseline;
    width: 50%;
  }

  &__earnings-text {
    font-weight: 600;
    font-size: 17px;
    margin-right: 4px;

    @include mobile {
      font-size: 15px;
    }
  }

  &__earnings-description {
    font-size: 13px;
    line-height: 18px;
    color: $color-gray;

    @include mobile {
      font-size: 11px;
      line-height: 13px;
    }
  }
}
