@import "../../styles/variables.scss";

.block {
  &__body {
    background-color: $color-dark-light;
    padding: 24px;
    width: 364px;
    height: 413px;
    border-radius: 20px;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_red {
      border: 3px solid $color-red;
    }

    &_green {
      border: 3px solid $color-green;
    }
  }

  &__info {
    padding-top: 16px;
    height: 133px;
    border-top: 1px solid #444a60;
  }

  &__graphs {
    height: 100%;
    padding-bottom: 32px;
  }
}
