@import "../../styles/variables.scss";

.block {
  background-color: #eceaee;
  padding: 20px;
  width: 100%;
  height: 400px;
  position: relative;

  &:before {
    position: absolute;
    content: "";
    bottom: -15px;
    left: 8px;
    right: 0px;
    width: 100%;
    height: 15px;
    background-color: #8b8b8b;
    transform: skew(45deg);
  }
  &:after {
    position: absolute;
    content: "";
    top: 8px;
    right: -15px;
    bottom: 0;
    height: 100%;
    width: 15px;

    background-color: #a7a7a7;
    transform: skewY(45deg);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__body {
    margin: 12px 0;
  }

  &__up,
  &__down {
    padding: 6px 0;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    cursor: pointer;
  }

  &__up {
    background-color: $color-green;
    border-radius: 6px 6px 0 0;
  }

  &__down {
    background-color: $color-red;
    border-radius: 0 0 6px 6px;
  }

  &__locked {
    border: 1px solid $color-black;
    border-radius: 8px;
    padding: 10px;
  }

  &__current-price {
    font-size: 24px;
    font-weight: bold;

    &_red {
      color: $color-red;
    }

    &_green {
      color: $color-green;
    }
  }
}
