@import "../../../styles/variables.scss";

.block-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 12px;
  height: 36px;

  &__left {
    display: flex;
    align-items: center;
  }

  &__timer {
    background-color: $color-dark-light;
    font-weight: 600;
    font-size: 17px;
    padding: 0 12px;
    border-radius: 8px;
    height: 36px;
    display: flex;
    align-items: center;
  }

  &__hash {
    background-color: $color-dark-light;
    font-weight: 600;
    font-size: 17px;
    padding: 0 12px;
    border-radius: 8px;
    height: 36px;
    display: flex;
    align-items: center;
  }

  &__status {
    border-radius: 8px;
    padding: 0 12px;
    font-size: 17px;
    font-weight: 600;
    margin-right: 8px;
    height: 36px;
    display: flex;
    align-items: center;

    &-live {
      margin-left: 16px;
      position: relative;

      &::before {
        position: absolute;
        border-radius: 60px;
        left: -18px;
        top: 7px;
        width: 12px;
        height: 12px;
        background-color: $color-white;
        content: "";
      }
    }

    &-text {
      margin-left: 6px;
    }

    &-next {
      border: 3px solid $color-blue;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }

    &_live {
      background-color: $color-blue;
      color: $color-white;
    }

    &_expired {
      border: 3px solid #bababa;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }
  }
}
