@import "../../shared/styles/variables.scss";

.account {
  padding-top: 48px;

  @include tablet {
    padding-top: 24px;
  }

  &__tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 20px;
  }

  &__tab {
    font-weight: 600;
    font-size: 16px;
    color: $color-white;
    margin: 0 10px;

    &_active {
      color: $color-blue;
      position: relative;

      &::after {
        bottom: -7px;
        left: 0;
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        border-radius: 60px;
        background-color: $color-blue;
      }
    }
  }
}
