@import "../../shared/styles/variables.scss";

.header {
  width: 100%;
  border-bottom: 1px solid $color-border;
  padding: 20px 0;
  background-color: $color-dark-light;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
