@import "../../shared/styles/variables.scss";

.header {
  width: 100%;
  border-bottom: 1px solid $color-border;
  // padding: 20px 0;
  background-color: $color-dark-light;
  height: 72px;

  &__container {
    height: 100%;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__logo {
    display: flex;
    align-items: center;
    height: 100%;

    svg {
      display: block;
    }
  }

  &__connect {
    display: flex;
    align-items: center;
    max-height: 52px;
  }

  &__balance {
    background-color: $color-deep-dark;
    border: 1px solid #434a60;
    padding: 7px 12px;
    padding-left: 12px;
    border-radius: 8px;
    height: 100%;
    min-width: 126px;
    margin-right: 12px;
  }

  &__balance-text {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    margin-bottom: 2px;
    color: $color-gray;
  }

  &__balance-number {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
  }
}
