@import "../../../shared/styles/variables.scss";

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  cursor: pointer;
  padding: 6px;
  transition: 0.3s background-color;
  margin: 0 -6px;

  &:hover {
    background-color: $color-dark;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__icon {
    background-color: $color-dark-light;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

    @include mobile {
      margin-right: 12px;
      width: 40px;
      height: 40px;

      svg {
        width: 20px;
      }
    }

    &_green {
      background-color: $color-dark-green;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 2px;

    @include mobile {
      font-size: 15px;
      line-height: 20px;
    }
  }

  &__reward {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: $color-gray;

    @include mobile {
      font-size: 11px;
      line-height: 13px;
    }

    &_green {
      color: $color-success;
    }
  }

  &__action {
    display: flex;
    align-items: center;

    svg {
      height: 16px;
    }
  }
}
