@import "../../styles/variables.scss";

.button {
  display: block;
  padding: 10px 14px;
  background-color: $color-green;
  max-width: 300px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;

  &_primary {
    border-radius: 8px;
    background-color: $color-blue;
    color: $color-white;
    font-size: 17px;
    font-weight: 600;
    height: 45px;
    box-sizing: border-box;

    &:hover {
      background-color: #007acc;
    }
  }

  &_green {
    background-color: $color-green;
  }

  &_red {
    background-color: $color-red;
  }

  &_disabled {
    cursor: inherit;
    background-color: #bababa;
    color: $color-deep-dark;

    &:hover {
      background-color: #bababa;
    }
  }

  &_loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_rounded {
    font-size: 13px;
    border-radius: 100px;
    text-transform: uppercase;
    height: 30px;
    padding: 5px 14px;
  }

  &_full-width {
    max-width: 100%;
    width: 100%;
  }

  &__loader {
    // border: 2px solid #bababa;
    border: 2px solid $color-blue;
    border-top: 2px solid $color-white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    animation: spin 0.7s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
